@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500&family=Single+Day&display=swap");
.container {
  height: 100vh;
  width: 100vw;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 10rem 0 10rem;
}

.header span {
  font-size: 4rem;
  font-weight: 600;
  color: #72db73;
  font-family: "Single Day", cursive;
}
.header img {
  cursor: pointer;
}

.container h2 {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  margin-left: 2rem;
  margin-bottom: 3rem;
}

.details {
  width: 100vw;
  height: 58rem;
  overflow-y: scroll;
}

.genreBox {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.GenreHead {
  color: #878787;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  margin-left: 2rem;
}

.genreSection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
