.gridlayout {
  width: max-content;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2);
  gap: 4rem;
  color: #ffffff;
}

.UserInfoWrap {
  width: 40rem;
  height: 25rem;
  border-radius: 2rem;
}
.notes {
  display: flex;
  width: 40rem;
  height: 100%;
  grid-row: span 2;
  overflow: hidden;
  border-radius: 2rem;
}
.weather {
  background-color: #101744;
  width: 40rem;
  height: 15rem;
  border-radius: 2rem;
  overflow: hidden;
}
